body {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
}

/* Hero Section */
header {
  height: 100vh;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: radial-gradient(rgb(0, 0, 0), rgba(183, 26, 9, 0.302), rgba(91, 91, 91, 0.777)),url(https://picsum.photos/id/79/2000/2000);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

/* Hero Text */
h1, p{
  max-width: 35ch;
  margin: 0;
  padding: 1rem;

  text-align: center;
  text-shadow:3px 3px  black ;
}
/* Call To Action */
a {
  text-decoration: none;
  border-radius: .5rem;
  /* CTA container */
  width: fit-content;
  background-color: rgb(255, 255, 255);
  padding: .5rem 1rem;
  color: rgb(183, 27, 9);
  font-family: 'Merriweather', serif;;
  
}

/* CTA Hover */
a:hover{
  background-color: black;
  color:  white;
}

h1 {
  font-size: 72px;
  font-family: 'Anton', Arial, Helvetica, sans-serif;
}

p {
  font-family: 'Merriweather','Times New Roman', Times, serif serif;
}